button{
    color: black;
    background-color:blue ;
    width: 20%;
}
input{
    margin-bottom : 10 px;
    background-color: aqua;
    color: blue;
    margin-top: 10px;
 }
.border{
    
    box-sizing: border-box;
    width: 600px;
    padding: 30px;
    text-align: center;
    font-family: cursive;
    
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    
    height: 100vh;
    background-image: url("spiderman.jpg");
    border-image-slice: 100%;
}